<% include ../partials/header %> 

     <header class="jumbotron">
         <div class="container">
             <h1><span class="glyphicon glyphicon-tent"></span> Welcome To YelpCamp!</h1>
             <p>View our hand-picked campgrounds from all over the world</p>
              <p>
              <form action="/campgrounds" method="GET" class="form-inline" id="campground-search">
                <div class="form-group">
                  <input type="text" name="search" placeholder="Search campgrounds.." class="form-control">
                  <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                </div>
              </form>
                <hr>
                <a class="pull-right" href="/campgrounds/new">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Share New Campground
                </a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(campground => {%>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail card">
              <img class="campground__image" src="<%= campground.image %>" alt="<%= campground.name %>" />
              <div class="caption">
                <h4 class="caption"><%= campground.name %></h4>
              </div>
              <p>
                <a class="btn btn-primary btn-sm btn-b-mg" href="/campgrounds/<%= campground._id %>">
                  More Info
                </a>
              </p>
            </div>
          </div>
        <% })%>
    </div>

<% include ../partials/footer %>